:after,
:before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit
}

.fx {
    position: fixed;
    z-index: 9999;
    display: block;
    top: 0;
    background: rgba(0, 0, 0, 0.3);
}

.activee {
    background: white;
    transition: all 0.5s ease-in-out;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

.textcolor1 {
    transition: all 0.5s ease-in-out;
}

.nav__container,
header {
    width: 100%;
}

.nav__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.nav__mobile .nav__btn {
    display: block
}

.nav__mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.nav__logo {
    font-size: 1.4rem;
    font-weight: 700;
    color: #555;
}

.nav__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
    margin-left: 20px;
    padding-bottom: 20px;
}

.showing {
    max-height: 37rem;
    -webkit-transition: all .5s;
    transition: all .5s
}

.nav__menu li {
    list-style: none;
    position: relative;
    white-space: nowrap;
    padding: 1rem 0 0
}

.nav__menu li a {
    display: block;
    font-size: 1rem;
    color: #222;
    text-decoration: none
}

.nav-toggle {
    display: block;
    background-color: transparent;
    width: 40px;
    cursor: pointer;
    padding: 4px;
    margin-right: 15px;
}

.nav-toggle span {
    position: relative;
    display: block;
    height: 4px;
    border-radius: 35px;
    width: 100%;
    margin-top: 0;
    background-color: #000;
    -webkit-transition: all .25s;
    transition: all .25s
}

.nav-toggle span.mrg {
    margin-top: 5px
}

.nav-toggle.open span:first-child {
    -webkit-transform: rotate(45deg) translate(6.2px, 6.2px);
    transform: rotate(45deg) translate(6.2px, 6.2px)
}

.nav-toggle.open span:nth-child(2) {
    width: 0;
    opacity: 0
}

.nav-toggle.open span:last-child {
    -webkit-transform: rotate(-45deg) translate(6.2px, -6.2px);
    transform: rotate(-45deg) translate(6.2px, -6.2px)
}

.nav__menu .dropdown ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: static;
    padding: 0;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: all .4s;
    transition: all .4s
}

.nav__menu .dropdown ul.show {
    max-height: 35rem;
    margin-left: 20px;
    -webkit-transition: all .4s;
    transition: all .4s;
    z-index: 10000;
}

.textcolor1 {
    font-weight: 500 !important;
    color: white;
}

.nav__menu .dropdown li a {
    display: block;
    font-size: 15px;
    color: #222!important;
    text-decoration: none
}

.nav__menu li a:hover {
    color: #0062a3;
}

.nav__menu .dropdown>a:after {
    content: "\f107";
    font-family: Font Awesome;
    font-weight: 900;
    font-size: 16px;
    padding-left: 5px;
    color: #7e7e7e
}

.nav__menu .active.dropdown>a:after {
    content: "\f106" !important;
    font-family: Font Awesome;
}

.nav__menu .dropdown .dropdown>a:after {
    content: "\f078";
    font-family: Font Awesome;
    font-weight: 900;
    font-size: 16px;
    padding-left: 5px;
    color: #7e7e7e
}

.nav__menu .dropdown:hover>a:after {
    content: "\f106" !important;
    font-family: Font Awesome\ 5 Free;
}

.menu-toggle {
    max-height: 0;
    overflow: hidden
}

.menu-toggle,
.menu-toggle.active {
    -webkit-transition: all .4s ease;
    transition: all .4s ease
}

.menu-toggle.active {
    max-height: 100vh
}

.fade {
    opacity: 1 !important;
}

.nav__logo img {
    width: 100%;
    max-width: 50px;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.nav__logo .logo1 {
    margin-left: 36px;
    margin-top: 20px;
    margin-bottom: 0;
}

.nav__logo .logo2 {
    margin-left: 20px;
    margin-top: 5px;
    max-width: 87px;
    margin-bottom: 16px;
    height: auto;
}

.resize-animation-stopper * {
    -webkit-transition: none!important;
    transition: none!important;
    -webkit-animation: none!important;
    animation: none!important
}

@media screen and (min-width:800px) {
    .menu-toggle {
        display: -webkit-box!important;
        display: -ms-flexbox!important;
        display: flex!important;
        max-height: 100vh;
        overflow: visible
    }
    .nav__container {
        width: 100%;
        max-width: 1200px;
        margin: auto;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        padding-top: 13px;
        padding-bottom: 3px
    }
    .menu-toggle .nzc:nth-child(5) {
        margin-right: 130px;
    }
    .nav__menu .dropdown li a {
        display: block;
        font-size: 19px;
        color: #222;
        text-decoration: none
    }
    .nav__container,
    .nav__mobile {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }
    .nav__mobile .nav__btn {
        display: none
    }
    .nav__logo {
        display: flex;
        flex-direction: column;
    }
    .nav__logo img {
        width: 100%;
        max-width: 69px;
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .nav__logo .logo2 {
        max-width: 135px;
    }
    .nav__logo .logo1 {
        padding-bottom: 11px;
        margin-left: 46px;
    }
    .nav__menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        max-height: 100%;
        overflow: visible;
        margin-left: 0px;
        padding-bottom: 0px;
    }
    .nav__menu li {
        list-style: none;
        position: relative;
        white-space: nowrap;
        padding: 1rem
    }
    .nav__menu li a {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 400;
        font-size: 19px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.04em;
        color: #ffffff;
        text-decoration: none
    }
    .nav__menu li a:hover {
        color: #0062a3
    }
    .nav__menu .dropdown {
        position: relative
    }
    .nav__menu .dropdown ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: -30px;
        opacity: 0;
        visibility: hidden;
        overflow: visible;
        -webkit-transition: all .4s ease;
        transition: all .4s ease;
        text-align: left;
    }
    .nav__menu .dropdown:hover>ul {
        top: 100%;
        left: 0;
        z-index: 10000;
        opacity: 1;
        visibility: visible;
        overflow: visible;
    }
    .nav__menu .dropdown ul li {
        padding: .7rem;
        background-color: #ffffff;
        position: relative;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 19px;
        line-height: 20px;
        /* identical to box height */
        text-align: left;
        letter-spacing: 0.1em;
        display: flex;
        text-align: left;
        align-items: left;
        color: #000000;
    }
    .nav__menu .dropdown ul.show {
        margin-left: -12px;
    }
    .nav__menu .dropdown ul li:hover {
        background-color: #b1b1b1
    }
    .nav__menu .dropdown ul li a {
        display: block;
        color: rgb(0, 0, 0) !important;
    }
    .nav__menu .dropdown ul li a:hover {
        display: block;
        color: #000000
    }
    .nav__menu .dropdown>a:after {
        content: "\f107"
    }
    .nav__menu .dropdown:hover>a:after,
    .nav__menu .dropdown>a:after {
        font-family: Font Awesome\ 5 Free;
        font-weight: 900;
        font-size: 16px;
        padding-left: 5px;
        color: #7c7c7c
    }
    .nav__menu .dropdown:hover>a:after {
        content: "\f106"
    }
    .nav__menu .dropdown .dropdown>a:after {
        content: "\f105"
    }
    .nav__menu .dropdown .dropdown:hover>a:after,
    .nav__menu .dropdown .dropdown>a:after {
        font-family: Font Awesome\ 5 Free;
        font-weight: 900;
        font-size: 16px;
        padding-left: 10px;
        color: rgb(10, 10, 10)
    }
    .nav__menu .dropdown .dropdown:hover>a:after {
        content: "\f104"
    }
    .nav__menu .dropdown .dropdown:hover>ul {
        position: absolute;
        top: 0;
        right: auto;
        left: 100%;
        opacity: 1;
        visibility: visible
    }
    .nav__menu .dropdown .third-level:hover>ul {
        left: 100%;
    }
    .nav__menu .dropdown .thirdd:hover>ul {
        left: 100%;
    }
    .nav__menu .dropdown .dropdown ul {
        position: absolute;
        top: 0;
        right: auto;
        left: 350px;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }
}

@media only screen and (max-width: 700px) {
    .fx {
        background: white;
    }
    .nav__menu .dropdown ul li a {
        color: black !important;
        font-weight: 400 !important;
    }
    .nav__logo .logo2 {
        max-width: 96px;
        margin-bottom: 8px;
        height: 11px;
    }
}